export type AppEnvType = {
  SECRET: string
  DATABASE_TYPE: "mysql" | "mariadb"
  DATABASE_HOST: string,
  DATABASE_PORT: number,
  DATABASE_USERNAME: string,
  DATABASE_PASSWORD: string,
  DATABASE_NAME: string
  SMTP_HOST: string,
  SMTP_PORT: number,
  SMTP_AUTH?: any,
  SMTP_PROXY?: string,
}

export default {
  SECRET: "RXsWyW77tgjsIe8DYMpR",
  DATABASE_TYPE: "mysql",
  DATABASE_HOST: "localhost",
  DATABASE_PORT: 3306,
  DATABASE_USERNAME: "test",
  DATABASE_PASSWORD: "test",
  DATABASE_NAME: "test",
  SMTP_HOST: "",
  SMTP_PORT: 2525,
  SMTP_AUTH: {
    user: "",
    pass: ""
  }
} as AppEnvType;
